{
  "openapi": "3.1.0",
  "info": {
    "title": "Cortex SDK API",
    "description": "REST API wrapper around the Cortex Python SDK (Findr Integration)",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.usecortex.ai",
      "description": "Production",
      "x-fern-server-name": "cortex-prod"
    }
  ],
  "paths": {
    "/search/qna": {
      "post": {
        "tags": [
          "search"
        ],
        "summary": "Qna",
        "description": "Ask a question to your uploaded knowledge base and let Cortex AI answer it.",
        "operationId": "qna_search_qna_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QnARequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "search",
        "x-fern-sdk-method-name": "qna",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/list/sources": {
      "get": {
        "tags": [
          "list"
        ],
        "summary": "Get Sources",
        "description": "Retrieve all sources for a specific tenant.\n\nUse this endpoint to fetch a complete list of all sources associated with your tenant. This includes documents, files, and other content you've uploaded for processing.\n\nYou can optionally specify a sub-tenant to narrow down the results to sources within that specific sub-tenant scope.",
        "operationId": "get_sources_list_sources_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSourcesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "sources",
        "x-fern-sdk-method-name": "get_all",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/list/sources_by_id": {
      "post": {
        "tags": [
          "list"
        ],
        "summary": "Get Source By Id",
        "description": "Retrieve specific sources by their IDs.\n\nUse this endpoint to fetch one or more sources by providing their unique identifiers. This is useful when you need detailed information about specific documents or content you've previously uploaded.\n\nProvide the source IDs in the request body along with your tenant information to get the exact sources you need.",
        "operationId": "get_source_by_id_list_sources_by_id_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceBodyParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSourcesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "sources",
        "x-fern-sdk-method-name": "get_by_ids",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/user_memory/list_user_memories": {
      "get": {
        "tags": [
          "user_memory"
        ],
        "summary": "List User Memories",
        "description": "Retrieve all stored user memories for your tenant.\n\nThis endpoint returns a comprehensive list of all user memories that have been stored, \nwhether they were added manually or generated through AI. User memories help personalize \nyour experience by storing context, preferences, and important information.\n\nYou can optionally specify a sub-tenant to filter memories within that specific scope.",
        "operationId": "list_user_memories_user_memory_list_user_memories_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUserMemoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "user_memory",
        "x-fern-sdk-method-name": "list_user_memories",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/user_memory/delete_user_memory": {
      "delete": {
        "tags": [
          "user_memory"
        ],
        "summary": "Delete User Memory",
        "description": "Permanently remove a specific user memory from storage.\n\nThis endpoint allows you to delete a user memory by its unique identifier. \nOnce deleted, the memory cannot be recovered, so use this operation carefully.\n\nThe memory will be removed from your tenant's storage and will no longer \nappear in search results or memory listings.",
        "operationId": "delete_user_memory_user_memory_delete_user_memory_delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "memory_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of the memory to delete",
              "title": "Memory Id",
              "default": "memory_1234"
            },
            "description": "Unique identifier of the memory to delete"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteUserMemoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "user_memory",
        "x-fern-sdk-method-name": "delete_user_memory",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/user_memory/retrieve_user_memory": {
      "post": {
        "tags": [
          "user_memory"
        ],
        "summary": "Retrieve User Memory",
        "description": "Find relevant user memories using semantic search.\n\nThis endpoint performs a semantic search across all your stored user memories \nto find the most relevant ones based on your query. The results are ranked by \nsimilarity score, with the most relevant memories returned first.\n\nUse this to recall past preferences, context, or information that might be \nrelevant to your current task or query.",
        "operationId": "retrieve_user_memory_user_memory_retrieve_user_memory_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          },
          {
            "name": "max_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "description": "Maximum number of memories to return (default: 5)",
              "default": 5,
              "title": "Max Count"
            },
            "description": "Maximum number of memories to return (default: 5)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveUserMemoryRequest",
                "description": "Request body containing the search query"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveUserMemoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "user_memory",
        "x-fern-sdk-method-name": "retrieve_user_memory",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/user_memory/generate_user_memory": {
      "post": {
        "tags": [
          "user_memory"
        ],
        "summary": "Generate User Memory",
        "description": "Generate AI-powered user memories from your query and context.\n\nThis endpoint uses artificial intelligence to create personalized memories \nbased on your query and user context. The AI analyzes your input and generates \nrelevant, contextual memories that can help improve future interactions.\n\nGenerated memories are automatically stored and can be retrieved through \nthe standard memory search endpoints.",
        "operationId": "generate_user_memory_user_memory_generate_user_memory_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateUserMemoryRequest",
                "description": "Request body containing the user query and context"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateUserMemoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "user_memory",
        "x-fern-sdk-method-name": "generate_user_memory",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/user_memory/add_user_memory": {
      "post": {
        "tags": [
          "user_memory"
        ],
        "summary": "Add User Memory",
        "description": "Store a new user memory for future reference.\n\nThis endpoint allows you to manually add a memory that will be stored and \ncan be retrieved later through memory search. Use this to save important \npreferences, context, or information that you want the system to remember.\n\nThe stored memory will be indexed and available for semantic search, making \nit accessible when relevant to future queries or interactions.",
        "operationId": "add_user_memory_user_memory_add_user_memory_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUserMemoryRequest",
                "description": "Request body containing the user memory to add"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddUserMemoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "user_memory",
        "x-fern-sdk-method-name": "add_user_memory",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/fetch/fetch_content": {
      "post": {
        "tags": [
          "fetch"
        ],
        "summary": "Fetch Content",
        "operationId": "fetch_content_fetch_fetch_content_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchContentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchContentData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "fetch",
        "x-fern-sdk-method-name": "fetch_content",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/upload/batch_upload": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "Batch Upload",
        "description": "Upload multiple documents simultaneously for efficient bulk processing.\n\nThis endpoint allows you to upload several files at once, which is ideal for large document collections or periodic data imports. Each file gets processed asynchronously, and you can track the progress of individual files using their returned file IDs.\n\nThe system automatically handles file parsing, content extraction, and indexing across all uploaded documents. You'll receive confirmation once all files are queued for processing.",
        "operationId": "batch_upload_upload_batch_upload_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_batch_upload_upload_batch_upload_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUploadData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "batch_upload",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/upload/batch_update": {
      "patch": {
        "tags": [
          "upload"
        ],
        "summary": "Batch Update",
        "description": "Update multiple existing documents with new content and metadata.\n\nUse this endpoint when you need to replace or modify several documents that are already in your knowledge base. Each file must correspond to an existing source ID, ensuring that updates are applied to the correct documents.\n\nThe system processes updates asynchronously, allowing you to continue working while your documents are re-indexed. Track the progress using the returned file IDs to know when updates are complete.",
        "operationId": "batch_update_upload_batch_update_patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_batch_update_upload_batch_update_patch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUploadData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "batch_update",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/upload/upload_document": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "Upload Files",
        "description": "Upload a single document for processing and indexing into your knowledge base.\n\nThis endpoint accepts documents in various formats and processes them for search and retrieval. You can include custom metadata to help organize and categorize your content.\n\nThe system extracts text content, processes it asynchronously, and makes it available for search queries. You can track the processing status using the returned file ID.",
        "operationId": "upload_files_upload_upload_document_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_files_upload_upload_document_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleUploadData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "upload_document",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/upload/update_document": {
      "patch": {
        "tags": [
          "upload"
        ],
        "summary": "Update File",
        "description": "Replace an existing document with updated content.\n\nThis endpoint allows you to update a specific document that's already in your knowledge base. Provide the source ID of the document you want to modify, along with the new file content.\n\nThe system will process your update asynchronously and re-index the document with the new content. You can monitor the progress using the returned file ID.",
        "operationId": "update_file_upload_update_document_patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "source_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The source ID of the document to update",
              "title": "Source Id",
              "default": "CortexDoc1234"
            },
            "description": "The source ID of the document to update"
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_update_file_upload_update_document_patch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleUploadData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "update_document",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/upload/upload_app_sources": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "Upload App Sources",
        "description": "Upload structured data from applications or APIs for indexing.\n\nThis endpoint is designed for importing data from applications. If you are specifically using Cortex to provide search to an application, you should prefer this endpoint. It accepts structured source objects and allows you to clearly define contents of attachments\n\nThe system processes each source asynchronously and makes the content available for search and retrieval. Use this when you need to integrate search and indexing from data in your applications into your knowledge base.",
        "operationId": "upload_app_sources_upload_upload_app_sources_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SourceModel"
                },
                "description": "List of structured source objects containing app-generated data to be indexed",
                "title": "Sources"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppSourcesUploadData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "upload_app_sources",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/upload/upload_markdown": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "Upload Markdown",
        "description": "Upload text or markdown content directly for processing.\n\nThis endpoint accepts plain text or markdown-formatted content that you want to add to your knowledge base. It's perfect for notes, documentation, articles, or any text-based content you want to make searchable.\n\nYou can include custom metadata to help organize and categorize your content. You can track the processing status using the returned file ID.",
        "operationId": "upload_markdown_upload_upload_markdown_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkdownUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleUploadData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "upload_markdown",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/upload/upload_text": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "Upload Markdown",
        "description": "Upload text or markdown content directly for processing.\n\nThis endpoint accepts plain text or markdown-formatted content that you want to add to your knowledge base. It's perfect for notes, documentation, articles, or any text-based content you want to make searchable.\n\nYou can include custom metadata to help organize and categorize your content. You can track the processing status using the returned file ID.",
        "operationId": "upload_markdown_upload_upload_text_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkdownUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleUploadData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "upload_text",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/upload/update_markdown": {
      "patch": {
        "tags": [
          "upload"
        ],
        "summary": "Update Markdown",
        "description": "Update existing text or markdown content with new information.\n\nThis endpoint allows you to modify text or markdown content that's already in your knowledge base. Provide the source ID of the content you want to update, along with the new text.\n\nThe system will reprocess and re-index the updated content asynchronously. Use this when you need to correct information, add details, or refresh existing documentation.",
        "operationId": "update_markdown_upload_update_markdown_patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "source_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The source ID of the document to update",
              "title": "Source Id",
              "default": "CortexDoc1234"
            },
            "description": "The source ID of the document to update"
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkdownUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleUploadData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "update_markdown",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/upload/update_text": {
      "patch": {
        "tags": [
          "upload"
        ],
        "summary": "Update Markdown",
        "description": "Update existing text or markdown content with new information.\n\nThis endpoint allows you to modify text or markdown content that's already in your knowledge base. Provide the source ID of the content you want to update, along with the new text.\n\nThe system will reprocess and re-index the updated content asynchronously. Use this when you need to correct information, add details, or refresh existing documentation.",
        "operationId": "update_markdown_upload_update_text_patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "source_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The source ID of the document to update",
              "title": "Source Id",
              "default": "CortexDoc1234"
            },
            "description": "The source ID of the document to update"
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkdownUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleUploadData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "update_text",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/upload/upload_embeddings": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "Upload Embeddings",
        "description": "Upload pre-computed embeddings for advanced similarity search.\n\nThis endpoint accepts vector embeddings that you've generated externally, allowing you to integrate with custom embedding models or existing vector databases. The embeddings represent chunks of your content as numerical vectors.\n\nThe system stores these embeddings and makes them available for semantic search and similarity matching. Use this when you want to leverage specialized embedding models or have existing vector representations.",
        "operationId": "upload_embeddings_upload_upload_embeddings_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingsUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleUploadData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "upload_embeddings",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/upload/update_embeddings": {
      "patch": {
        "tags": [
          "upload"
        ],
        "summary": "Update Embeddings",
        "description": "Update existing embeddings with new vector representations.\n\nThis endpoint allows you to modify embeddings that are already stored in your knowledge base. Provide updated vector representations for specific chunks of content, identified by their chunk IDs.\n\nThe system will replace the existing embeddings with your new ones, ensuring that similarity searches reflect the most current vector representations. Use this when you need to update embeddings due to model improvements or content changes.",
        "operationId": "update_embeddings_upload_update_embeddings_patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingsUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleUploadData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "update_embeddings",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/upload/scrape_webpage": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "Scrape Webpage",
        "description": "Extract and index content from web pages automatically.\n\nThis endpoint initiates web scraping for the specified URL, extracting the main content, text, and structure from the webpage. It's perfect for capturing articles, documentation, or any web content you want to include in your knowledge base.\n\nThe system processes the webpage content asynchronously, cleaning and structuring the information for optimal search and retrieval. Use this when you need to add web content without manual copying and pasting.",
        "operationId": "scrape_webpage_upload_scrape_webpage_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "web_url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The URL of the webpage to scrape and index",
              "title": "Web Url",
              "default": "https://www.usecortex.ai/"
            },
            "description": "The URL of the webpage to scrape and index"
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          },
          {
            "name": "file_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional custom file ID for the scraped content. If not provided, a unique ID will be generated",
              "default": "CortexDoc1234",
              "title": "File Id"
            },
            "description": "Optional custom file ID for the scraped content. If not provided, a unique ID will be generated"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Body_scrape_webpage_upload_scrape_webpage_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleUploadData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "scrape_webpage",
        "x-fern-sdk-audience": [
          "public"
        ]
      }
    },
    "/upload/update_webpage": {
      "patch": {
        "tags": [
          "upload"
        ],
        "summary": "Update Scrape Job",
        "description": "Update web scraping content with fresh data from the source URL.\n\nThis endpoint refreshes the content for an existing web scraping job. Provide the source ID of the webpage content you want to update, and the system will re-scrape the URL to capture any changes.\n\nThe updated content gets processed asynchronously and re-indexed in your knowledge base. Use this to keep web content current when the source pages are frequently updated.",
        "operationId": "update_scrape_job_upload_update_webpage_patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "web_url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The URL of the webpage to re-scrape",
              "title": "Web Url",
              "default": "https://www.usecortex.ai/"
            },
            "description": "The URL of the webpage to re-scrape"
          },
          {
            "name": "source_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The file ID of the existing web scraping job to update",
              "title": "Source Id",
              "default": "CortexDoc1234"
            },
            "description": "The file ID of the existing web scraping job to update"
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id",
              "default": "tenant_1234"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id",
              "default": "sub_tenant_4567",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier for organizing data within a tenant. If not provided, defaults to tenant_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Body_update_scrape_job_upload_update_webpage_patch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleUploadData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
[...]
