{
  "openapi": "3.1.0",
  "info": {
    "title": "Cortex API",
    "description": "Documentation for Cortex's core upload and retrieval endpoints",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.usecortex.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/upload/scrape_webpage": {
      "post": {
        "description": "Scrapes and processes content from a public webpage.",
        "parameters": [
          {
            "name": "web_url",
            "in": "query",
            "required": true,
            "description": "The public URL to scrape",
            "schema": {
              "type": "string"
            },
            "example": "https://example.com/article"
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "description": "Tenant identifier",
            "schema": {
              "type": "string"
            },
            "example": "tenant_456"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "description": "Sub-tenant identifier",
            "schema": {
              "type": "string"
            },
            "example": "subtenant_123"
          }
        ],
        "responses": {
          "200": {
            "description": "Webpage scraped successfully"
          }
        }
      }
    },
    "/upload/upload_document": {
      "post": {
        "description": "Uploads a document (e.g., PDF, DOCX) for processing and indexing.",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "description": "Tenant identifier",
            "schema": {
              "type": "string"
            },
            "example": "your_tenant_id"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "description": "Sub-tenant identifier",
            "schema": {
              "type": "string"
            },
            "example": "your_sub_tenant_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Document file to upload (PDF, DOCX, TXT, etc.)",
                    "example": "document.pdf"
                  },
                  "custom_metadata": {
                    "type": "string",
                    "description": "JSON string containing custom metadata for the document",
                    "example": "{\"author\":\"John Doe\",\"department\":\"Sales\"}"
                  }
                },
                "required": [
                  "file"
                ]
              },
              "examples": {
                "document_upload": {
                  "summary": "Upload a PDF document",
                  "description": "Example of uploading a PDF document with custom metadata",
                  "value": {
                    "file": "document.pdf",
                    "custom_metadata": "{\"author\":\"John Doe\",\"department\":\"Sales\",\"tags\":[\"contract\",\"Q1\"]}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document uploaded and indexed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Document uploaded successfully"
                    },
                    "document_id": {
                      "type": "string",
                      "example": "doc_123456"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/upload/batch_upload": {
      "post": {
        "description": "Uploads multiple documents in a single request for processing and indexing.",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "description": "Tenant identifier",
            "schema": {
              "type": "string"
            },
            "example": "your_tenant_id"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "description": "Sub-tenant identifier",
            "schema": {
              "type": "string"
            },
            "example": "your_sub_tenant_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Multiple document files to upload (PDF, DOCX, TXT, etc.)"
                  },
                  "custom_metadata": {
                    "type": "string",
                    "description": "JSON string containing custom metadata for the documents"
                  }
                },
                "required": [
                  "files"
                ]
              },
              "examples": {
                "batch_upload": {
                  "summary": "Upload multiple documents",
                  "description": "Example of uploading multiple documents with custom metadata",
                  "value": {
                    "files": ["document1.pdf", "document2.docx", "document3.txt"],
                    "custom_metadata": "[{\"author\":\"John Doe\",\"department\":\"Sales\"},{\"author\":\"Jane Smith\",\"department\":\"Marketing\"}]"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch upload successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Batch upload successful"
                    },
                    "document_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["doc_123", "doc_456", "doc_789"]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/upload/upload_app_sources": {
      "post": {
        "description": "Works similar to the upload endpoint but is specifically designed to upload multiple app sources (e.g., Gmail, Slack, Notion) in a single request for processing and indexing.",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "description": "Tenant identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "description": "Sub-tenant identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "collections": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "html_base64": {
                          "type": "string"
                        },
                        "csv_base64": {
                          "type": "string"
                        },
                        "markdown": {
                          "type": "string"
                        },
                        "files": {
                          "type": "array"
                        },
                        "layout": {
                          "type": "array"
                        }
                      }
                    },
                    "cortex_metadata": {
                      "type": "object"
                    },
                    "meta": {
                      "type": "object"
                    },
                    "attachments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "content_type": {
                            "type": "string"
                          },
                          "content_url": {
                            "type": "string"
                          },
                          "misc": {
                            "type": "object"
                          },
                          "content": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              },
                              "html_base64": {
                                "type": "string"
                              },
                              "csv_base64": {
                                "type": "string"
                              },
                              "markdown": {
                                "type": "string"
                              },
                              "files": {
                                "type": "array"
                              },
                              "layout": {
                                "type": "array"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "type",
                    "timestamp",
                    "content"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App sources uploaded successfully"
          }
        }
      }
    },
    "/search/qna": {
      "post": {
        "description": "Ask a question based on uploaded documents or sessions.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "The user query"
                  },
                  "user_name": {
                    "type": "string",
                    "description": "User name"
                  },
                  "user_instructions": {
                    "type": "string",
                    "description": "Accept custom, specific instructions from the user"
                  },
                  "session_id": {
                    "type": "string",
                    "description": "Chat session ID"
                  },
                  "tenant_id": {
                    "type": "string",
                    "description": "Tenant identifier"
                  },
                  "sub_tenant_id": {
                    "type": "string",
                    "description": "Sub-tenant identifier"
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Enable streaming"
                  },
                  "context_list": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of document IDs"
                  },
                  "search_modes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "e.g., 'creative', 'web'"
                  },
                  "top_n": {
                    "type": "number",
                    "description": "Number of results to return"
                  },
                  "ai_generation": {
                    "type": "boolean",
                    "description": "Enable AI answer generation"
                  },
                  "highlight_chunks": {
                    "type": "boolean",
                    "description": "Return source chunks"
                  },
                  "search_alpha": {
                    "type": "number",
                    "format": "float",
                    "description": "Weight for semantic match"
                  },
                  "recency_bias": {
                    "type": "number",
                    "format": "float",
                    "description": "Recency preference"
                  },
                  "multi_step_reasoning": {
                    "type": "boolean",
                    "description": "Enable multi-step reasoning for complex questions. Default is true, setting to false will disable auto-enable",
                    "default": true
                  }
                },
                "required": [
                  "question",
                  "session_id",
                  "tenant_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Question answered successfully"
          }
        }
      }
    },
    "/list/sources": {
      "get": {
        "description": "Fetches all sources/documents for a given tenant.",
        "parameters": [
          {"name": "tenant_id", "in": "query", "required": true, "description": "Tenant identifier", "schema": {"type": "string"}, "example": "tenant_456"},
          {"name": "sub_tenant_id", "in": "query", "required": false, "description": "Optional filter", "schema": {"type": "string"}, "example": "subtenant_123"}
        ],
        "responses": {"200": {"description": "List of sources returned successfully"}}
      }
    },
    "/list/sources_by_id": {
      "post": {
        "description": "Fetches specific sources/documents by their IDs.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tenant_id": {"type": "string", "description": "Tenant identifier", "example": "tenant_456"},
                  "sub_tenant_id": {"type": "string", "description": "Optional filter", "example": "subtenant_123"},
                  "source_ids": {"type": "array", "items": {"type": "string"}, "description": "IDs of documents", "example": ["doc_123", "doc_456"]}
                },
                "required": ["tenant_id", "source_ids"]
              }
            }
          }
        },
        "responses": {"200": {"description": "Sources returned successfully"}}
      }
    },
    "/upload/delete_memory": {
      "delete": {
        "description": "Deletes specific documents or memories associated with a user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tenant_id": {"type": "string", "description": "Tenant identifier", "example": "tenant_456"},
                  "source_ids": {"type": "array", "items": {"type": "string"}, "description": "IDs of documents to delete", "example": ["doc_123", "doc_456"]}
                },
                "required": ["tenant_id", "source_ids"]
              }
            }
          }
        },
        "responses": {"200": {"description": "Memory deleted successfully"}}
      },
      "post": {
        "description": "Deletes specific documents or memories associated with a user (POST alternative).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tenant_id": {"type": "string", "description": "Tenant identifier", "example": "tenant_456"},
                  "source_ids": {"type": "array", "items": {"type": "string"}, "description": "IDs of documents to delete", "example": ["doc_123", "doc_456"]}
                },
                "required": ["tenant_id", "source_ids"]
              }
            }
          }
        },
        "responses": {"200": {"description": "Memory deleted successfully (POST)"}}
      }
    },
    "/upload/verify_processing": {
      "post": {
        "description": "Checks if a document has been successfully processed.",
        "parameters": [
          {"name": "file_id", "in": "query", "required": true, "description": "ID of the uploaded file", "schema": {"type": "string"}, "example": "file_123"}
        ],
        "responses": {
          "200": {
            "description": "Processing status returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file_id": {"type": "string", "description": "ID of the uploaded file", "example": "123123123123"},
                    "indexing_status": {"type": "string", "enum": ["success", "in_progress", "errored"], "description": "Indexing status of the file", "example": "success"}
                  },
                  "required": ["file_id", "indexing_status"]
                },
                "example": {
                  "file_id": "123123123123",
                  "indexing_status": "success"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
