{
  "openapi": "3.1.0",
  "info": {
    "title": "Findr API",
    "description": "Documentation for Findr's core upload and retrieval endpoints",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.usefindr.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/upload/scrape_webpage": {
      "post": {
        "description": "Scrapes and processes content from a public webpage.",
        "parameters": [
          {
            "name": "web_url",
            "in": "query",
            "required": true,
            "description": "The public URL to scrape",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "description": "Tenant identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "description": "Sub-tenant identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webpage scraped successfully"
          }
        }
      }
    },
    "/upload/upload_document": {
      "post": {
        "description": "Uploads a document (e.g., PDF, DOCX) for processing and indexing.",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "description": "Tenant identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "description": "Sub-tenant identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "custom_metadata": {
                    "type": "string"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document uploaded and indexed successfully"
          }
        }
      }
    },
    "/upload/batch_upload": {
      "post": {
        "description": "Uploads multiple documents in a single request for processing and indexing.",
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "description": "Tenant identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "description": "Sub-tenant identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "custom_metadata": {
                    "type": "string"
                  }
                },
                "required": [
                  "files"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch upload successful"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
